<template>
  <div class="container">
    <header class="padding-top--2 padding-bottom--2">
      <h1 class="fg--yellow align--center txt--large txt--bold">WOOKIEEPEDIA</h1>
      <h2 class="fg--yellow align--center txt--fair txt--bold">A Star Wars encyclopaedia</h2>
    </header>

    <div class="margin-top--4 margin-bottom--4">
      <Tab
        :items="tabs"
        :active-item="currentTab"
        @switch-tab="switchTab"
      />

      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Tab from './components/Tab.vue'

export default {
  components: {
    Tab
  },
  data() {
    return {
      tabs: ['people', 'planets', 'vehicles'],
      currentTab: 'people'
    }
  },
  mounted() {
    this.currentTab = this.$route.name
  },
  methods: {
    switchTab(key) {
      this.$router.push({ name: key })
      this.currentTab = key
    }
  }
}
</script>

