<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="description" content="<%= description %>">
  <link rel="stylesheet" type="text/css" href="bundle.css">
</head>
<body class="bg--black margin-top--4">
  <div id="app"></div>

  <script type="text/javascript" src="bundle.js"></script>
</body>
</html>