$color-black: #111;
$color-yellow: #ffff66;
$color-yellow-light: #ffffcc;

.bg {
  &--black {
    background: $color-black;
  }

  &--yellow {
    background: $color-yellow;
  }

  &--yellow-light {
    background: $color-yellow-light;
  }
}

.fg {
  &--yellow {
    color: $color-yellow;
  }
}
