.container {
  width: 768px;
  margin: 0 auto;
}

.layout {
  display: flex;

  &--row {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
  }

  @for $i from 1 through 4 {
    &__item--#{$i} {
      flex-grow: #{$i};
    }
  }
}
