.tab {
  display: block;
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;

  color: $color-black;
  background: $color-yellow-light;

  &.is-active {
    background: $color-yellow;
  }
}
