html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

.txt {
  &--bold {
    font-weight: bold;
  }

  &--large {
    font-size: 3.2rem;
  }

  &--medium {
    font-size: 2.4rem;
  }

  &--fair {
    font-size: 1.8rem;
  }

  &--base {
    font-size: 1.4rem;
  }

  &--small {
    font-size: 1rem;
  }
}