$base-spacing: 6;
$directions: 'top', 'bottom', 'left', 'right';

.margin {
  @for $i from 1 through 10 {
    &--#{$i} {
      margin: #{($i * $base-spacing)}px;
    }
  }

  @each $direction in $directions {
    @for $i from 1 through 10 {
      &-#{$direction}--#{$i} {
        margin-#{$direction}: #{($i * $base-spacing)}px;
      }
    }
  }
}

.padding {
  @for $i from 1 through 10 {
    &--#{$i} {
      padding: #{($i * $base-spacing)}px;
    }
  }

  @each $direction in $directions {
    @for $i from 1 through 10 {
      &-#{$direction}--#{$i} {
        padding-#{$direction}: #{($i * $base-spacing)}px;
      }
    }
  }
}
