<template>
  <div class="limit-height-500 bg--yellow padding--2" @scroll="handleScroll">
    <div
      class="layout layout--column"
    >
      <ListItem
        v-for="planet in planetsList"
        :key="`planet-${planet.name}`"
        class="layout__item--1"
      >
        {{ planet.name }}
      </ListItem>
    </div>
    <div
      v-if="isLoading"
      class="txt--medium margin--2"
    >
      Loading data...
    </div>
    <div
      v-else-if="isFinished"
      class="txt--medium margin--2"
    >
      There are no more data to display.
    </div>
    <div
      v-else-if="isError"
      class="txt--medium margin--2"
    >
      There was an error when loading the data.
      <a @click="reset">Try again?</a>
    </div>
  </div>
</template>

<script>
import debounce from 'debounce'
import { getPlanets } from '../api'
import ListItem from '../components/ListItem.vue'

export default {
  components: {
    ListItem
  },
  data() {
    return {
      planetsList: [],
      page: 1,
      hasMoreData: true,
      isLoading: false,
      isError: false,
      isFinished: false
    }
  },
  mounted() {
    this.loadPlanetsData(this.page)
  },
  methods: {
    handleScroll: debounce(function debouncedScrollHandler({ target } = {}) {
      const { scrollTop, scrollHeight, clientHeight } = target
      const currentPos = scrollTop + clientHeight

      if (currentPos >= scrollHeight) {
        this.page += 1
        this.loadPlanetsData(this.page)
      }
    }, 500),
    async loadPlanetsData(page) {
      if (this.isFinished || this.isLoading || this.isError) return

      try {
        this.isLoading = true

        const { data } = await getPlanets(page)

        this.planetsList = [...this.planetsList, ...data.results]
      } catch (e) {
        if (e.response && e.response.status === 404) {
          this.isFinished = true
        } else {
          this.isError = true
        }
      } finally {
        this.isLoading = false
      }
    },
    reset() {
      this.planetsList = []
      this.page = 1
      this.loadPlanetsData(this.page)
    }
  }
}
</script>

<style lang="scss" scoped>
// to ease infinite scroll demonstration
.limit-height-500 {
  max-height: 500px;
  overflow-y: scroll;
}
</style>
