<template>
  <div class="layout">
    <TabItem
      v-for="(item, idx) in items"
      :key="`tab-item-${idx}`"
      :active="item === activeItem"
      @click="activateItem(item)"
    >
      {{ item }}
    </TabItem>
  </div>
</template>

<script>
import TabItem from './TabItem.vue'

export default {
  props: {
    items: Array,
    activeItem: String
  },
  components: {
    TabItem
  },
  methods: {
    activateItem(item) {
      this.$emit('switch-tab', item)
    }
  }
}
</script>
