<template>
  <div class="tab padding--2" :class="{ 'is-active': active }" @click="$emit('click')">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    active: Boolean
  }
}
</script>
